.mainBox {
  height: 33vh;
  width: 96vw;
  background-color: #626262;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 7vh;
}
.addBox1 {
  display: flex;
  gap: 5vw;
  padding-left: 6vw;
}
